section.section
    div.container
        div.carousel#carousel
            div.item-1
                img(src="https://wikiki.github.io/images/sushi.jpg" alt="")
            div.item2
                img(src="https://wikiki.github.io/images/singer.jpg" alt="")
            div.item3
                img(src="https://wikiki.github.io/images/sushi.jpg" alt="")
